<section class="p-0 bg-img cover-background" style="background-image: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=pexels-pixabay-531880.jpg&fm=jpg);">
    <div class="container-fluid d-flex flex-column">
        <div class="row align-items-center justify-content-center min-vh-100">
            <div class="col-md-9 col-lg-6 my-5">
                <div class="text-center error-page">
                    <h1 class="mb-0 text-secondary">404</h1>
                    <h2 class="mb-4 text-white">Sajnáljuk, valami hiba történt!</h2>
                    <p class="w-sm-80 mx-auto mb-4 text-white">Ez az oldal jelenleg nem elérhető</p>
                    <div>
                        <a href="/" class="btn btn-lg me-sm-2 mb-2 mb-sm-0" style="background-color: #0acab1;">Kezdőlap</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>